ProjectBackend.Test/bin/
ProjectBackend.Test/obj/
ProjectBackendTest.Model/bin/
ProjectBackendTest.Model/obj/
ProjectBackendTest.Repositorio/bin/
ProjectBackendTest.Repositorio/obj/
ProjectBackendTest/bin/
ProjectBackendTest/obj/
